<%- include("template/cabecera") %>

 <!-- Grid -->
<div class="w3-row">

    <!-- Blog entries -->
    <div class="w3-col l8 s12">
     
      <!-- Blog entry -->
      <div class="w3-card-4 w3-margin w3-white">
      <!-- <img src="./img/orange.jpg" alt="Norway" style="width:100%"> -->
      <br> <br>
        <div class="w3-container">
          <h3><b>CASO 2</b></h3>
          <h5><B>Orange confirma el robo de información personal y bancaria de clientes tras un ataque informático - </B><span class="w3-opacity"> 07/11/2022 05:21pm CET</span></h5>
          <hr>
        </div>
    
        <img src="./img/orange.jpg" alt="Norway" style="width:100%">
    <br><br>
        <div class="w3-container">
          <p class="text-justify">La compañía telefónica Orange ha comunicado haber sido víctima de un ataque informático en el que ha salida a la luz información personal y contractual de algunos de sus usuarios. <br><br>
    
            Como denuncia la propia empresa y recogen organismos como la Oficina de Seguridad del Internauta (OSI), los hackers han revelado nombre, apellidos, datos bancarios, número de teléfono, dirección postal y de correo electrónico de un número “limitado” de clientes.<br><br>
            
            Así, Orange explica que desde el momento que se tuvo noticia del ataque se cortó el acceso a sus sistemas y que han denunciado el caso ante la Policía Nacional, así como lo han notificado ante la Agencia Española Protección de Datos.<br><br>
            
            Desde la entidad telefónica indican que aquellos usuarios que hayan notificado comportamientos extraños en sus redes, direcciones de correo o cuentas corrientes se pongan en contacto de forma inmediata con su banco y que denuncien ante la Policía y el Instituto Nacional de Ciberseguridad (INCIBE).<br><br>
            
            <img src="./img/orange2.jpg" alt="Norway" style="width:100%">
            <p id="comu">Este es el comunicado de Orange:<br></p> </p>
            
            <p style="font-family: Georgia;">  
            Te informamos que uno de nuestros proveedores ha sido objeto de un incidente de seguridad y, por ello, ha quedado expuesta 
            parte de la información sensible a la que tenía acceso para llevar a cabo la actividad de gestión de clientes para la que fue 
            contratado.<br><br>
            
            Desde el momento en que el proveedor tuvo conocimiento del incidente, se puso en marcha un plan para limitar su alcance, 
            procediéndose de inmediato al corte del acceso a nuestros sistemas. Sin embargo, parte de tu información personal pudo quedar 
            afectada: nombre, apellidos, dirección postal, teléfono, correo electrónico, nº de Documento de Identidad, fecha de nacimiento, 
            nacionalidad y el código IBAN de tu cuenta corriente.<br><br>
            
            Estos hechos los hemos notificado a la Agencia Española Protección de Datos, así como a la Brigada central de Investigación
             Tecnológica (BCIT) de la Policía Nacional, a través de la presentación de la correspondiente denuncia.<br><br>
            
            Te recomendamos que tengas especial precaución con correos electrónicos, mensajes o llamadas que no cuenten con una identificación 
            clara del remitente, especialmente si solicitan información reservada como tarjetas de crédito o claves de acceso.<br><br>
            
            Ponte inmediatamente en contacto con tu banco en el caso de detectar cualquier actividad sospechosa y denuncia este hecho a 
            la policía o consulta al INCIBE (Instituto Nacional de Ciberseguridad) en el 017 o en el siguiente enlace: 
            <a href="https://www.incibe.es/linea-de-ayuda-en-ciberseguridad">https://www.incibe.es/linea-de-ayuda-en-ciberseguridad</a><br><br>
            
            Si deseas más información, puedes consultarla en:
           <a href="https://blog.orange.es/wp-content/uploads/sites/4/2022/11/octubre.pdf">https://blog.orange.es/wp-content/uploads/sites/4/2022/11/octubre.pdf</a> <br><br>
            
            En Orange condenamos este tipo de actividad criminal, siendo la seguridad en la información uno de nuestros firmes compromisos.
             Por eso, lamentamos lo sucedido y ponemos a tu disposición el número de teléfono gratuito 900901564 de 9h a 21h de lunes a domingo,
              para solventar cualquier duda que pueda surgirte sobre este incidente. Igualmente, desde la Oficina del Delegado de Protección de 
              Datos de Orange, atenderemos las consultas que nos envíes por email a <a href="mailto:orangeproteccion.datos@es.orange.com">orangeproteccion.datos@es.orange.com</a> </p>
           <div class="w3-row">
            <div class="w3-col m8 s12">
              <form action="">
              <p><button type="submit" class="w3-button w3-padding-large w3-white w3-border"><b>FUENTE »</b></button></p>
            </form>
            </div>
            <!--<div class="w3-col m4 w3-hide-small">
              <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-badge">2</span></span></p>
            </div>-->
          </div> 
        </div>
      </div>
    <!-- END BLOG ENTRIES -->
    </div>
    
    <!-- Introduction menu -->
    <div class="w3-col l4">
      <!-- About Card -->
      <div class="w3-card w3-margin w3-margin-top">
      <img src="./img/logo.png" style="width:100%">
        <div class="w3-container w3-white">
          <h4><b>HECTOR ENRIQUE MORALES BOLAÑOS</b></h4>
          <p><b>MATERIA: </b>SEGURIDAD INFORMATICA</p>
          <p><b>CARRERA: </b>LICENCIATURA EN CIENCIAS DE LA COMPUTACION </p>
          <p><b>UNIVERSIDAD MONSEÑOR OSCAR ARNULFO ROMERO</b></p>
        </div>
        <br>
      </div><hr>
      
      <!-- Posts -->
      <div class="w3-card w3-margin">
        <div class="w3-container w3-padding">
          <h4>Partes populares</h4>
        </div>
        <ul class="w3-ul w3-hoverable w3-white">
          <a href="#comu"><li class="w3-padding-16">
            <img src="./img/or.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Comunicado de Orange</span><br>
            
          </li></a>
          
          
        </ul>
      </div>
      <hr> 
     
      
    </div>
    
    <!-- END GRID -->
    </div><br>
    
    <!-- END w3-content -->
    </div>
    
    <!-- Footer -->
    <footer class="w3-container w3-teal w3-padding-32 w3-margin-top">
        <a style="display:scroll; position:fixed; bottom:10px; right:20px;" href="#menu" title="Volver arriba"><img src="./img/flecha.png" alt="Image" class="w3-left w3-margin-right" style="width:50px"></a>
 
        <h3>BILBLIOGRAFIA</h3>
      <p><a class="w3-teal" href="https://www.huffingtonpost.es/entry/orange-confirma-el-robo-de-informacion-personal-y-bancaria-de-clientes-tras-un-ataque-informatico_es_63692d1fe4b08f849aadd6e4"><U>https://www.huffingtonpost.es/entry/orange-confirma-el-robo-de-informacion-personal-y-bancaria-de-clientes-tras-un-ataque-informatico_es_63692d1fe4b08f849aadd6e4</U></a></p>
    
    </footer>
    
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
    </html>