<%- include("template/cabecera") %>


<!-- Grid -->
<div class="w3-row">

    <!-- Blog entries -->
    <div class="w3-col l8 s12">
     
      <!-- Blog entry -->
      <div class="w3-card-4 w3-margin w3-white">
     <!--  <img src="./img/ftx.jpg" alt="Norway" style="width:100%"> -->
      <!-- <br> --><br> 
        <div class="w3-container">
          <h3><b>CASO 1</b></h3>
          <h5><B>Ataque hacker a FTX y complicidad en corrupción - </B><span class="w3-opacity"> 12 noviembre, 2022</span></h5>
          <hr>
        </div>
        <img src="./img/ftxb.jpg" alt="Norway" style="width:100%">
        <br><br>
        <div class="w3-container">
          <p class="text-justify">El intercambio de criptomonedas en convocatoria FTX está investigando un posible ataque y pidió a los clientes que se
             mantengan alejados del sitio web de FTX. <br><br>
    
            Parece que faltan más de US$ 370 millones en fondos criptográficos que gestionaba FTX, según la firma de criptoanálisis
             Elliptic Enterprises Ltd., mientras FTX mencionó la posibilidad de un ciberataque.<br><br>
            
            FTX y un grupo de afiliados se declararon en convocatoria de acreedores, revelando más de 100.000 acreedores y decenas 
            de miles de millones en activos y pasivos. El intercambio de criptomonedas se enfrenta a un déficit de hasta US$ 8.000 millones,
             según ha informado The Wall Street Journal.<br><br>
            
            El criptointercambio Kraken dijo que pudo identificar al usuario de la cuenta asociada con los retiros no autorizados de FTX.<br><br>
            
            “Podemos confirmar que nuestro equipo conoce la identidad de la cuenta asociada con el hackeo de FTX en curso, y estamos 
            comprometidos a trabajar con las fuerzas del orden para asegurarnos de que tengan todo lo que necesitan para investigar 
            suficientemente este asunto”, dijo una portavoz de Kraken.<br><br>
            
            “Conocemos la identidad del usuario”, dijo Nick Percoco, director de seguridad de Kraken, en un tuit anterior.<br><br>
            
            Ryne Miller, consejero general de FTX US, respondió al tuit de Percoco: “Interesado en todo lo que esté dispuesto a compartir.
             ¿Podrías contactarme?”<br><br>
            
            Aproximadamente US$ 371 millones en criptoactivos parecen haber sido tomados de FTX sin permiso, según Tom Robinson, cofundador
             de Elliptic.<br><br>
            
            Más de US$ 220 millones de tokens se convirtieron rápidamente a la moneda estable Dai o Ether, en los llamados intercambios 
            descentralizados.<br><br>
            
            Dichas plataformas procesan las transacciones automáticamente, lo que las hace populares entre los piratas informáticos 
            para evitar que se incauten los fondos, dijo.<br><br>
            
            Muy grave
            El posible ciberataque ocurrió el viernes 11/11 después de que FTX se declarara en quiebra.<br><br>
            
            <p id="ryne">Ryne Miller dijo en un tuit del sábado que FTX y FTX US habían comenzado a mover todos los activos digitales al 
            almacenamiento en frío (monederos criptográficos que no están conectados a Internet) después de la declaración de bancarrota.<br><br>
            </p>
            FTX está “investigando anomalías con los movimientos de billetera relacionados con la consolidación de los saldos 
            de FTX en los intercambios”, posteó Miller en Twitter.<br><br>
            
            Él mencionó ‘movimientos de transacciones no autorizadas’ y dijo que los hechos aún no están claros. FTX “compartirá más 
            información tan pronto como la tengamos”, dijo.<br><br>
    
            <img src="./img/ftx.jpg" alt="Norway" style="width:100%">
            
            Una publicación en el canal oficial de Telegram del intercambio FTX mencionó irregularidades.<br><br>
            
            “En respuesta, se inició de inmediato un ejercicio activo de revisión y mitigación”, dijo John Ray, director ejecutivo de
             FTX. “Hemos estado en contacto y nos estamos coordi nando con las fuerzas del orden y los reguladores relevantes”.<br><br>
            
            También se restaron otros US$ 186 millones de las cuentas de FTX.<br><br>
            
            Irregularidades
            El director ejecutivo de Alameda Research y los altos funcionarios de FTX sabían que FTX había prestado dinero de sus clientes 
            a Alameda para ayudarla a cumplir con sus obligaciones, según personas familiarizadas con el asunto, informó en exclusiva 
            The Wall Street Journal.<br><br>
            
            Los problemas de Alameda contribuyeron a la quiebra de FTX, el intercambio de criptomonedas fundado por Sam Bankman-Fried.<br><br>
            
            Alameda es una empresa comercial propiedad de Bankman-Fried.<br><br>
            
            <p id="ala">Alameda enfrentó una avalancha de demandas de los prestamistas después de que el fondo de cobertura de criptomonedas 
            Three Arrows Capital colapsara en junio, lo que generó pérdidas para los corredores de criptomonedas.<br><br>
            </p>
            En una reunión por video con empleados de Alameda el miércoles 09/11 por la noche, hora de Hong Kong, la di rectora 
            ejecutiva de Alameda, Caroline Ellison, dijo que ella, Bankman-Fried y otros 2 ejecutivos de FTX, Nishad Singh y Gary Wang,
             estaban al tanto de la decisión de enviar fondos de clientes a Alameda, según personas familiarizadas con el video.<br><br>
            
            Singh fue director de Ingeniería de FTX y ex empleado de Facebook.<br><br>
            
            Wang, quien anteriormente trabajó en Google, fue el director de Tecnología de FTX y cofundó el intercambio con Bankman-Fried.<br><br>
            
            Alameda había obtenido préstamos para financiar inversiones de riesgo ilíquidas, dijeron las personas.<br><br>
            
            El viernes, FTX, Alameda, FTX US y otras afiliadas de FTX se declararon en convocatoria de acreedores.<br><br>
            
            Esto significa que podría pasar mucho tiempo antes de que los inversores individuales y otras personas a las que se les 
            deben sus fondos puedan recuperar potencialmente alguno de ellos, si es que alguna vez lo hacen..</p>
          
        </div>
      </div>
    <!-- END BLOG ENTRIES -->
    </div>
    
    <!-- Introduction menu -->
    <div class="w3-col l4">
      <!-- About Card -->
      <div class="w3-card w3-margin w3-margin-top">
      <img src="./img/logo.png" style="width:100%">
        <div class="w3-container w3-white">
          <h4><b>HECTOR ENRIQUE MORALES BOLAÑOS</b></h4>
          <p><b>MATERIA: </b>SEGURIDAD INFORMATICA</p>
          <p><b>CARRERA: </b>LICENCIATURA EN CIENCIAS DE LA COMPUTACION </p>
          <p><b>UNIVERSIDAD MONSEÑOR OSCAR ARNULFO ROMERO</b></p>
        </div>
        <br>
      </div><hr>
      
      <!-- Posts -->
      <div class="w3-card w3-margin">
        <div class="w3-container w3-padding">
          <h4>Partes Populares</h4>
        </div>
        <ul class="w3-ul w3-hoverable w3-white">
         <a href="#ryne"> <li class="w3-padding-16">
            <img src="./img/ftxbp.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Ryne Miller dijo en un tuit del sábado que FTX y FTX US habían comenzado a mover todos los activos digitales al almacenamiento en frío</span><br>
          </li></a>
          <a href="#ala"><li class="w3-padding-16">
            <img src="./img/ftxn.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Alameda enfrentó una avalancha de demandas de los prestamistas después de que el fondo de cobertura de criptomonedas Three Arrows Capital colapsara en junio</span><br>
            
          </li> </a>
         
        </ul>
      </div>
      <hr> 
     
    
      
    <!-- END Introduction Menu -->
    </div>
    
    <!-- END GRID -->
    </div><br>
    
    <!-- END w3-content -->
    </div>
    
    <!-- Footer -->
    <footer class="w3-container w3-teal w3-padding-32 w3-margin-top">
        <a style="display:scroll; position:fixed; bottom:10px; right:80px;" href="#menu" title="Volver arriba"><img src="./img/flecha.png" alt="Image" class="w3-left w3-margin-right" style="width:50px"></a>
 
      <h4>BIBLIOGRAFIA</h4>
      <p><a class="w3-teal"href="https://economis.com.ar/ataque-hacker-a-ftx-y-complicidad-en-corrupcion/"><u>https://economis.com.ar/ataque-hacker-a-ftx-y-complicidad-en-corrupcion/</u></a></p>
    </footer>
    
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
    </html>